html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  padding: 2px;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: black;
  color: white;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  background-color: red;
}

nav a:active {
  color: white;
}

main {
  text-align: center;
}

footer {
  text-align: center;
  padding: 2px;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
}

footer a {
  font-weight: bold;
}

footer a:link {
  color: white;
  font-weight: bold;
}

footer a:visited {
  color: white;
  font-weight: bold;
}

footer a:hover {
  color: red;
  font-weight: bold;
}
