html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  padding: 2px;
  width: 100%;
  position: fixed;
  background-color: red;
}

main {
  text-align: center;
}

footer {
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
}
